{% extends 'base.html' %}
{% block body %}



    <div class="container">
    <h3>Add new blogs</h3>
    <form method="post">
        <label>Title</label>
        <input type="text" name="title">
        <label>
            Data
        </label>
        <input type="text" name="data">
        <input type="submit">
    </form><br>
    <h4>Blogs by you</h4>
        <div class="col">
            {% for i in ran %}
                <div class="card my-2" style="width:auto;">
                    <div class="card-body">
                        <h5 class="card-title">{{ zz[i].title }}</h5>
                        <h5> -{{ zz[i].userna }}</h5>
                        <p class="card-text">{{ zz[i].data }}</p>
                        <a href="#" class="btn btn-primary">read full blog</a>
                        <a href="{{ url_for('delete',title=zz[i].title) }}" class="btn btn-danger ">Delete</a>
                    </div>
                </div>
            {% endfor %}</div>
    </div>

{% endblock %}